/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary-dark: #023047;
  --primary: #219ebc;
  --primary-light: #8ecae6;
  --accent: #ffb703;
  --white: #f0f0f0;
  --black: #111111;
}
